[Unit]
Description=Turn Up mixer daemon
Documentation=https://github.com/sean351/turn-up-arch
After=pipewire-pulse.socket pulseaudio.socket
Wants=pipewire-pulse.socket

[Service]
Type=simple
ExecStart=/usr/bin/turnupd
Restart=always
RestartSec=5

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=turnupd

[Install]
WantedBy=default.target
